.contanier {
  width: 80%;
  margin-left: 4em;
  /* margin:auto */
}
.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
@media (max-width: 900px) {
  .contanier {
    width: 90%;
    margin: auto;

  }
  .img {
    display: none;
  } 
.formBody {
    margin: 1rem 1rem;
  } 
}
