.container {
    background-color: var(--light-color);
    margin: 100px 0;
}

.icon {
    color: var(--main-color);
}

@media (max-width: 992px){
    .container {
        margin: 50px 0;
    }
    .content{
        text-align: center;
    }
}