.doctorPic {
  max-width: 200px;
  max-height: 120px;
}
button {
  background-color: var(--main-color);
}
button:hover {
  background-color: var(--main-color);
}
.appointment {
  color: var(--main-color);
}
