.primaryBtn {
  background-color: var(--main-color);
}
.primaryBtn:hover {
  background-color: var(--main-color);
}
.btn {
  color: var(--main-color);
  background-color: var(--light-color);
}

.btn:hover {
  color: var(--white-color);
}

.secondaryBtn {
  background-color: var(--light-color);
  color: var(--main-color);
}
.secondaryBtn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.active{
  color:white;
  background : var(--main-color);
}
