.primaryBtn {
  background-color: var(--main-color);
  padding: 10px 20px;
}
.primaryBtn:hover {
  background-color: var(--main-color);
}
.btn {
  color: var(--main-color);
  background-color: var(--light-color);
}

.btn:hover {
  color: var(--white-color);
}

.secondaryBtn {
  background-color: var(--light-color);
  color: var(--main-color);
  padding: 10px 20px;
}
.secondaryBtn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.active{
  color:white;
  background : var(--main-color);
}
@media  (max-width: 576px) {
  .primaryBtn {
    padding: 5px 10px;
  }
  .secondaryBtn {
    padding: 5px 10px;
  }
}