.about_header {
    margin-left: 100px;
}
.imgWrapper{
    width: 150px;
    height: 150px;
}
.about_footer{
    background-color: var(--main-color);
    height: 200px;
}
.about_content{
    box-shadow: 0 0 5px 3px #ddd;
    padding: 10px;
    border-radius: 10px;
}