.cardContainer {
  height: 320px;
  width: 550px;
  display:flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .cardContainer {
    width: 400px;
  }
 
}
@media (max-width: 600px) {
  .cardContainer {
    height: 530px;
    max-width: 500px;
    display: block;
  }
 
}
.imgContainer {
  width: 200px;
  height: 180px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.icons {
  color: var(--main-color);
  background-color: var(--light-color);
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 5px;
}

