* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1a75ff;
  --white-color: #fff;
  --black-color: #35383f;
  --light-color: #eaf0ff;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.text-blue {
  color: var(--main-color);
}
.ant-layout-sider-trigger {
  background-color: var(--main-color) !important;

}
