
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #3879fe;
  --white-color: #fff;
  --black-color: #35383f;
  --light-color: #eaf0ff;
}

body {
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#1b4599 ;
}
