* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1a75ff;
  --white-color: #fff;
  --black-color: #35383f;
  --light-color: #eaf0ff;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.ant-layout-sider-trigger {
  background-color: var(--main-color) !important;
}

.text-blue {
  color: var(--main-color);
}

.bg-lightBlue {
  background-color: var(--light-color);
}

.ant-select {
  width: 20em;
}
.ant-picker-calendar-mini .ant-picker-panel {
  background-color: var(--light-color) !important;
}
.ant-picker-calendar-mini .ant-picker-calendar-header {
  background-color: var(--light-color) !important;
}
.site-calendar-demo-card {
  width: 480px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 5px;
}
.ant-picker-calendar-header .ant-picker-calendar-mode-switch {
  display: flex;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--light-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

.pointer {
  cursor: pointer;
}

.card_cardContainer__OWljs {
   height: auto !important ;  
}

.imgBorder {
  border: 3px solid var(--light-color);
}
.ant-input-affix-wrapper {
  max-width: 80vw !important;
  width: min(300px, 100%) !important;
  min-width: 250px !important;
}
.ant-form-item-control-input-content {
  max-width: 100% !important;
  width: 100% !important;
}